@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer priority1 {
  @keyframes nuraqng64z-B {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

@layer priority2 {
  .nura164fk60 {
    background: initial;
  }

  .nura11g6tue {
    background: none;
  }

  .nura1r7xphn {
    background: #fff;
  }

  .nuratfardp {
    border: 1px solid #ddd;
  }

  .nurawyvkli {
    border: 2px solid #4f5b66;
  }

  .nura1gs6z28 {
    border: none;
  }

  .nuraoyue30 {
    border: var(--border);
  }

  .nura10a8y8t {
    inset: 0;
  }

  .nura1ghz6dp {
    margin: 0;
  }

  .nura1cpkpif {
    margin: var(--margin);
  }

  .nura1717udv {
    padding: 0;
  }

  .nura3ad7fk {
    padding: 10px;
  }

  .nura9ms5i6 {
    padding: 3px;
  }

  .nuradqdrvq {
    padding: 4px 8px;
  }

  .nurafawy5m {
    padding: 4px;
  }

  .nura153ncpu {
    padding: 8px 12px;
  }

  .nura1ff1495 {
    padding: 8px 16px;
  }

  .nura6rcfto {
    padding: var(--padding);
  }
}

@layer priority3 {
  .nura196p5u9 {
    border-bottom: 1px solid #0000;
  }

  .nura18y4gbw {
    border-bottom: var(--borderBottom);
  }

  .nura1u3gezn {
    border-color: var(--borderColor);
  }

  .nuraeihhvt {
    border-radius: 10%;
  }

  .nuraorixrz {
    border-radius: 100%;
  }

  .nura12oqio5 {
    border-radius: 4px;
  }

  .nura16rqkct {
    border-radius: 50%;
  }

  .nura1kptayx {
    border-radius: var(--borderRadius);
  }

  .nura4jxkzx {
    border-top: 1px solid #ddd;
  }

  .nura13z6uf9 {
    gap: .5rem;
  }

  .nura167g77z {
    gap: 8px;
  }

  .nura9ctp7s {
    gap: var(--gap);
  }

  .nurae8uvvx {
    list-style: none;
  }

  .nura1a2a7pz {
    outline: none;
  }

  .nuraysyzu8 {
    overflow: auto;
  }

  .nurab3r6kr {
    overflow: hidden;
  }

  .nura1hl2dhg {
    text-decoration: none;
  }

  .nura1bvjpef {
    text-decoration: underline;
  }

  .nuray9syeq {
    transition: all .2s ease-in-out;
  }

  .nura1hzlkrz {
    transition: all .3s cubic-bezier(.4, 0, .2, 1);
  }

  .nurahx8npm {
    transition: background-color .2s, border-color .2s;
  }

  .nuradr7xzh {
    transition: background-color .3s;
  }

  .nurabsc3gr {
    transition: border-color .2s ease-in-out, transform .15s ease-out;
  }

  .nuravewczl {
    transition: border-color .2s;
  }

  .nuraq2gx43 {
    transition: none;
  }

  .nurak82a7y {
    transition: opacity .2s ease-in-out;
  }

  .nuran3wb8y {
    transition: transform .5s;
  }

  .nura10nilei {
    transition: var(--transition);
  }

  .nura1orbjim:checked:after {
    border-radius: var(--9tudt6);
  }

  .nuraq2jpy:checked:after {
    transition: opacity .2s ease-in-out, transform .2s ease-out;
  }

  .nura2rrvy2:checked {
    border-color: var(--1321a2e);
  }

  .nurat0b8zv:hover {
    text-decoration: underline;
  }

  .nuradz300a:hover {
    transition: var(--1vnotgs);
  }

  .nura6zkjsx:focus {
    border-color: var(--1qs960s);
  }

  .nura1uvtmcs:focus {
    outline: none;
  }
}

@layer priority4 {
  .nura1lugfcp {
    -webkit-appearance: none;
  }

  .nura5lxg6s {
    -webkit-overflow-scrolling: touch;
  }

  .nurax8kiug {
    align-content: var(--alignContent);
  }

  .nura1pha0wt {
    align-items: baseline;
  }

  .nura6s0dn4 {
    align-items: center;
  }

  .nura1ntm0d2 {
    align-items: var(--alignItems);
  }

  .nuradhju85 {
    align-self: var(--alignSelf);
  }

  .nura1q3qbx4 {
    animation-duration: 1s;
  }

  .nuraa4qsjk {
    animation-iteration-count: infinite;
  }

  .nura1d46cpg {
    animation-name: nuraqng64z-B;
  }

  .nurajftqhz {
    animation-timing-function: cubic-bezier(.255, .2, .315, .455);
  }

  .nurajyslct {
    appearance: none;
  }

  .nurapivpjv {
    backdrop-filter: blur(4px);
  }

  .nura1c8ul09 {
    background-color: #0006;
  }

  .nurajbqb8w {
    background-color: #0000;
  }

  .nurar5ldyu {
    background-color: var(--backgroundColor);
  }

  .nura12peec7 {
    background-color: #fff;
  }

  .nura1mwwwfo {
    border-collapse: collapse;
  }

  .nura10ya7sz {
    box-shadow: var(--boxShadow);
  }

  .nura9f619 {
    box-sizing: border-box;
  }

  .nura1heor9g {
    color: inherit;
  }

  .nurafx01vb {
    color: var(--color);
  }

  .nurat0e3qv {
    cursor: default;
  }

  .nura1h6gzvc {
    cursor: not-allowed;
  }

  .nura1ypdohk {
    cursor: pointer;
  }

  .nura1lliihq {
    display: block;
  }

  .nura78zum5 {
    display: flex;
  }

  .nurarvj5dj {
    display: grid;
  }

  .nura1rg5ohu {
    display: inline-block;
  }

  .nura3nfvp2 {
    display: inline-flex;
  }

  .nuraatzp2 {
    filter: brightness(.7);
  }

  .nuradt5ytf {
    flex-direction: column;
  }

  .nura1q0g3np {
    flex-direction: row;
  }

  .nuraxidzri {
    flex-direction: var(--flexDirection);
  }

  .nura1iyjqo2 {
    flex-grow: 1;
  }

  .nura2lah0s {
    flex-shrink: 0;
  }

  .nuray2036w {
    flex-wrap: var(--flexWrap);
  }

  .nura1a02dak {
    flex-wrap: wrap;
  }

  .nura1faq86j {
    float: left;
  }

  .nurat1x0nq {
    font-family: var(--fontFamily);
  }

  .nurangnso2 {
    font-size: 1.5rem;
  }

  .nuraceuqb6 {
    font-size: 2.375rem;
  }

  .nura1cfcgx7 {
    font-size: var(--19zvkyr);
  }

  .nura6zurak {
    font-size: var(--fontSize);
  }

  .nura117nqv4 {
    font-weight: bold;
  }

  .nura1oq5gaa {
    font-weight: var(--fontWeight);
  }

  .nura7t9t1q {
    grid-template-columns: var(--gridTemplateColumns);
  }

  .nura1lq8ota {
    grid-template-rows: var(--gridTemplateRows);
  }

  .nural56j7k {
    justify-content: center;
  }

  .nura13a6bvl {
    justify-content: flex-end;
  }

  .nura1nhvcw1 {
    justify-content: flex-start;
  }

  .nura1qughib {
    justify-content: space-between;
  }

  .nura109nl6x {
    justify-content: var(--justifyContent);
  }

  .nura11o18bv {
    justify-items: var(--justifyItems);
  }

  .nuralplz55 {
    justify-self: var(--justifySelf);
  }

  .nurac9pu9e {
    letter-spacing: var(--letterSpacing);
  }

  .nura1uo3zyz {
    line-height: 1.15;
  }

  .nura15bjb6t {
    line-height: inherit;
  }

  .nura18bv5gf {
    line-height: var(--lineHeight);
  }

  .nura6ehuon {
    ms-overflow-style: none;
  }

  .nurabyyjgo {
    opacity: .5;
  }

  .nura197sbye {
    opacity: .6;
  }

  .nurag01cxk {
    opacity: 0;
  }

  .nura1hc1fzr {
    opacity: 1;
  }

  .nuraq0hk9d {
    opacity: inherit;
  }

  .nura1mzt3pk {
    overflow-wrap: break-word;
  }

  .nurazigqph {
    p: xl;
  }

  .nura67bb7w {
    pointer-events: auto;
  }

  .nura47corl {
    pointer-events: none;
  }

  .nura10l6tqk {
    position: absolute;
  }

  .nuraixxii4 {
    position: fixed;
  }

  .nura1n2onr6 {
    position: relative;
  }

  .nura1rohswg {
    scrollbar-width: none;
  }

  .nura2b8uid {
    text-align: center;
  }

  .nuradpxx8g {
    text-align: left;
  }

  .nuralyipyv {
    text-overflow: ellipsis;
  }

  .nurax69xxh {
    touch-action: pan-y;
  }

  .nura1g0ag68 {
    transform-origin: center;
  }

  .nura9tu13d {
    transform: rotate(-90deg);
  }

  .nura7p49u4 {
    transform: rotate(0);
  }

  .nura19jd1h0 {
    transform: rotate(180deg);
  }

  .nura1iffjtl {
    transform: rotate(90deg);
  }

  .nura4zgh4k {
    transform: scale(1.1);
  }

  .nura11lhmoz {
    transform: translate(-50%, -50%);
  }

  .nura1cb1t30 {
    transform: translateY(-50%);
  }

  .nurann1q72 {
    transform: translateY(0);
  }

  .nura1w2xznu {
    transform: translateY(20px);
  }

  .nura1uosm7l {
    transform: var(--transform);
  }

  .nura1nbtrm7 {
    transition-duration: var(--transitionDuration);
  }

  .nura87ps6o {
    -webkit-user-select: none;
    user-select: none;
  }

  .nurauxw1ft {
    white-space: nowrap;
  }

  .nura1so62im {
    will-change: transform;
  }

  .nurabgtp72 {
    z-index: var(--zIndex);
  }

  .nura1op3679:checked:after {
    background-color: var(--dzhu9x);
  }

  .nurapxrid2:checked:after {
    content: "";
  }

  .nurahfojsi:checked:after {
    position: absolute;
  }

  .nuraty55pf:checked {
    transform: scale(1.1);
  }

  .nura1su88jy:hover {
    background-color: #f1f1f1;
  }

  .nurai7y26s:hover {
    background-color: var(--b6ve2z);
  }

  .nura1277o0a:hover {
    cursor: pointer;
  }

  .nurakapau0:hover {
    filter: brightness(.95);
  }

  .nura1t7rm6y:hover {
    transform: none;
  }

  .nurasegxbs:hover {
    transform: scale(1.02);
  }

  .nura1lcra6a:hover {
    transform: scale(1.1);
  }

  .nura19y0ph4:active {
    filter: brightness(.9);
  }

  @media (width <= 768px) {
    .nura4vx8n7.nura4vx8n7 {
      align-items: end;
    }
  }
}

@layer priority5 {
  .nura1szun9y {
    bottom: 1rem;
  }

  .nura5yr21d {
    height: 100%;
  }

  .nurang8ra {
    height: 60px;
  }

  .nura1f5funs {
    height: var(--height);
  }

  .nurau96u03 {
    left: 0;
  }

  .nura1pemb1n {
    left: 1rem;
  }

  .nura1nrll8i {
    left: 50%;
  }

  .nura837sfr {
    left: var(--left);
  }

  .nura138musq {
    margin-bottom: var(--marginBottom);
  }

  .nura182mx9v {
    margin-left: var(--marginLeft);
  }

  .nura1db2dqx {
    margin-right: 8px;
  }

  .nura1hqhkut {
    margin-right: var(--marginRight);
  }

  .nuradj266r {
    margin-top: 0;
  }

  .nura17zef60 {
    margin-top: var(--marginTop);
  }

  .nura54lwg9 {
    max-height: 15rem;
  }

  .nura1kb659o {
    max-height: var(--maxHeight);
  }

  .nura65f84u {
    max-width: 500px;
  }

  .nuraktpd3l {
    min-width: 100px;
  }

  .nura18n5i07 {
    min-width: 300px;
  }

  .nuraw2csxc {
    overflow-x: auto;
  }

  .nura18d9i69 {
    padding-bottom: 0;
  }

  .nura1hb41fa {
    padding-right: var(--paddingRight);
  }

  .nura1u62bzc {
    right: 1rem;
  }

  .nura19up5dg {
    right: 8px;
  }

  .nura1mv4l1 {
    right: var(--right);
  }

  .nuradsb8wn {
    top: 100%;
  }

  .nurawa60dl {
    top: 50%;
  }

  .nurafr5jun {
    top: 8px;
  }

  .nura1g9fk1a {
    top: var(--top);
  }

  .nurah8yej3 {
    width: 100%;
  }

  .nura154i66o {
    width: 3.5rem;
  }

  .nura100vrsf {
    width: 40px;
  }

  .nura1bl4301 {
    width: var(--width);
  }

  .nura1bhbj3p:checked:after {
    height: var(--80hhoq);
  }

  .nura1d0y58x:checked:after {
    width: var(--17ubzzd);
  }

  @media (width <= 768px) {
    .nura8w9acq.nura8w9acq {
      padding-bottom: 1rem;
    }
  }
}

@layer priority6 {
  .nuratb5x6d:before {
    border-color: var(--1il6zln);
  }

  .nura3f1taq::-webkit-progress-bar {
    border-radius: var(--1qtnpxr);
  }

  .nuravqh90l::-webkit-progress-value {
    border-radius: var(--d7tndo);
  }

  .nura1yssc1k::-moz-progress-bar {
    border-radius: var(--wtu09m);
  }

  .nura1fo1fc9:before {
    border-style: solid;
  }

  .nura7xrjf5:before {
    border-width: var(--8xd4a5);
  }

  .nura1xb3ux:before {
    overflow: hidden;
  }

  .nurawsz6jq::-webkit-progress-value {
    transition: var(--1jmnyi0);
  }

  .nuradb2nx::-moz-progress-bar {
    transition: var(--1nt0dl9);
  }
}

@layer priority7 {
  .nura18j5lt8:after {
    background-color: var(--15iyedw);
  }

  .nura1e2xejc::-webkit-progress-bar {
    background-color: var(--1707jpw);
  }

  .nurafm7c33::-moz-progress-bar {
    background-color: var(--qce7ng);
  }

  .nurarw78x1::-webkit-progress-value {
    background-color: var(--qsce4z);
  }

  .nuratql2tq:before {
    box-sizing: border-box;
  }

  .nura1n1bdtd::placeholder {
    color: var(--bfcyyw);
  }

  .nura1cpjm7i:before, .nura1s928wv:after {
    content: "";
  }

  .nurafk6m8::-webkit-scrollbar {
    display: none;
  }

  .nura1qozda6::placeholder {
    font-size: var(--11q9g2s);
  }

  .nura1uyl9uf::placeholder {
    line-height: var(--1n9e6o4);
  }

  .nura7xwk5j::placeholder {
    opacity: 1;
  }

  .nura1hmns74:before, .nura1j6awrg:after {
    position: absolute;
  }

  .nura7tg5rq:before {
    transform-origin: 100%;
  }
}

@layer priority8 {
  .nura171sez1:before {
    border-bottom-left-radius: var(--ucnkut);
  }

  .nura166ybda:before {
    border-right-color: #0000;
  }

  .nurabq7gxb:before {
    border-top-left-radius: var(--1mwu8c8);
  }

  .nurazmk5q2:after {
    bottom: var(--obhau8);
  }

  .nura17fty4w:after {
    height: var(--12qatcd);
  }

  .nura1kta83a:before {
    height: var(--1whluux);
  }

  .nura1wlytlt:before {
    left: 0;
  }

  .nuraj8ssqq:after {
    left: var(--1l0j0vf);
  }

  .nura1y3wzot:before {
    top: 0;
  }

  .nura1ozm0nm:after {
    width: var(--11aojeo);
  }

  .nuragu5zj8:before {
    width: var(--nzppn4);
  }
}

@layer priority1 {
  :host, .nura1lutyi5 {
    --nura137mxtf: blur(0);
    --nura1o0emb5: blur(4px);
    --nura13lyf0u: blur(12px);
    --nura18g3bz4: blur(16px);
  }

  :host, .nura14218ip {
    --nura1i1ejmt: 10;
    --nura5qk3gp: 20;
    --nurah9t3ob: 30;
    --nura43tbvn: 40;
    --nura1yhukqj: 50;
    --nuraeqozx9: -999999;
    --nura3kqhfb: auto;
  }

  :host, .nura11fj8hn {
    --nura1k9hmp6: 0px;
    --nura1qwkjhs: .25rem;
    --nura2td6xo: .5rem;
    --nura1vcttqn: .75rem;
    --nura1hrjh3j: 1rem;
    --nura1rnt53x: 1.25rem;
    --nurawzfaie: 1.5rem;
    --nura17xc4j6: 1.75rem;
    --nurajaojg1: 2rem;
    --nura1qk4uwj: 2.25rem;
    --nura2nxh7v: 2.5rem;
    --nurayb88gy: 1px;
    --nura3utnui: .125rem;
    --nuranvyi1: .375rem;
    --nura1sa9pp2: .625rem;
    --nurarh4qzk: .875rem;
    --nura1harvob: 100%;
  }

  :host, .nura1bg4z2m {
    --nura1t3rxob: #6b8fff;
    --nurac0xfl0: #4382fb;
    --nura1lys5j8: #4382fb;
    --nura1tvk7fb: #4382fb;
    --nura1r1jtr8: #d1d5db;
    --nura1x4ihrx: #000;
    --nura11xpmtc: #fff;
    --nura189oe4t: #62db99;
    --nura1m9ex4u: #91e6b7;
    --nura1o1ctcs: #ffec89;
    --nura1qem2wd: #ff8989;
    --nurauco1i6: #ff5757;
    --nura1eyt6zq: #1f2937;
    --nura1p8y2i8: #374151;
    --nura93gwl2: #4b5563;
    --nurausgh25: #9ca3af;
    --nuradn5qp2: #34d399;
    --nura1eqaum5: #ff4d4d;
    --nura1a79zww: #fbbf24;
    --nura13qkcix: #9ca3af;
    --nura18gkcxp: #6b7280;
  }

  :host, .nuras8d61c {
    --nura1v1tnmu: none;
    --nura2kwzeb: 50ms ease;
    --nura1vvtfo9: .2s ease;
    --nuraitlshj: .5s ease;
  }

  :host, .nura8l07yk {
    --nura5ws185: "Inter Variable", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --nura15pxpln: "Source Code Pro", monospace;
    --nuraop3txb: 100;
    --nurav8kkbq: 200;
    --nura1wxy3a5: 300;
    --nura1vbl1il: 400;
    --nuraez42cl: 500;
    --nura111zgvv: 600;
    --nuraa6i7ec: 700;
    --nuraicucjz: 800;
    --nura1bthghg: 800;
    --nura13kdxmb: 0;
    --nurarrpz26: 0;
    --nuras6s3bh: 0;
    --nura1q7jn1b: .01em;
    --nuraccq7bu: .02em;
    --nuracrl1yn: .04em;
  }

  :host, .nura927nu8 {
    --nuraal11a2: 1;
    --nuraybsm5d: 1.15;
    --nuradim0st: 1.5;
    --nura15tybe0: 1.75;
    --nura12eayp6: 2;
    --nurawn9jkm: 2.5;
  }

  :host, .nura13v19d {
    --nurab1mhng: .625rem;
    --nuraytyjg6: .75rem;
    --nurat1ana1: .875rem;
    --nurasoc02c: 1rem;
    --nurauozfb3: 1.125rem;
    --nura151zclg: 1.5rem;
    --nurabek6tk: 1.625rem;
    --nurax1s4n2: 1.75rem;
  }

  :host, .nuraak2exh {
    --nurabtcvpl: 0px;
    --nura1afi7qv: .125rem;
    --nura15yqgvb: .25rem;
    --nurasf3o3m: .375rem;
    --nuraimulti: .5rem;
    --nura16zmalv: .75rem;
    --nurafz7cjn: 9999px;
  }

  :host, .nuracil3y2 {
    --nurachopq3: 0 1px 2px 0 #0000000d;
    --nura1had6qr: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --nura3eu4ha: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
    --nura1bngygi: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    --nura1xrsavr: inset 0 2px 4px 0 #0000000d;
    --nura16zvxss: 0 0 #0000;
  }

  :host, .nura1uv39ic {
    --nuraxr9zr7: 0px;
    --nura16twfyi: 8px;
    --nurafuhwbp: 10px;
    --nura1lwdqd5: 12px;
    --nurak4tti0: 16px;
    --nura7x3zcf: 24px;
    --nura11a4zim: 36px;
    --nurant3gmo: 72px;
  }

  @media (width <= 1024px) {
    :host, .nura1lutyi5 {
      --nura137mxtf: blur(0);
      --nura1o0emb5: blur(4px);
      --nura13lyf0u: blur(12px);
      --nura18g3bz4: blur(16px);
    }

    :host, .nura14218ip {
      --nura1i1ejmt: 10;
      --nura5qk3gp: 20;
      --nurah9t3ob: 30;
      --nura43tbvn: 40;
      --nura1yhukqj: 50;
      --nuraeqozx9: -999999;
      --nura3kqhfb: auto;
    }

    :host, .nura11fj8hn {
      --nura1k9hmp6: 0px;
      --nura1qwkjhs: .25rem;
      --nura2td6xo: .5rem;
      --nura1vcttqn: .75rem;
      --nura1hrjh3j: 1rem;
      --nura1rnt53x: 1.25rem;
      --nurawzfaie: 1.5rem;
      --nura17xc4j6: 1.75rem;
      --nurajaojg1: 2rem;
      --nura1qk4uwj: 2.25rem;
      --nura2nxh7v: 2.5rem;
      --nurayb88gy: 1px;
      --nura3utnui: .125rem;
      --nuranvyi1: .375rem;
      --nura1sa9pp2: .625rem;
      --nurarh4qzk: .875rem;
      --nura1harvob: 100%;
    }

    :host, .nura1bg4z2m {
      --nura1t3rxob: #6b8fff;
      --nurac0xfl0: #4382fb;
      --nura1lys5j8: #4382fb;
      --nura1tvk7fb: #4382fb;
      --nura1r1jtr8: #d1d5db;
      --nura1x4ihrx: #000;
      --nura11xpmtc: #fff;
      --nura189oe4t: #62db99;
      --nura1m9ex4u: #91e6b7;
      --nura1o1ctcs: #ffec89;
      --nura1qem2wd: #ff8989;
      --nurauco1i6: #ff5757;
      --nura1eyt6zq: #1f2937;
      --nura1p8y2i8: #374151;
      --nura93gwl2: #4b5563;
      --nurausgh25: #9ca3af;
      --nuradn5qp2: #34d399;
      --nura1eqaum5: #ff4d4d;
      --nura1a79zww: #fbbf24;
      --nura13qkcix: #9ca3af;
      --nura18gkcxp: #6b7280;
    }

    :host, .nuras8d61c {
      --nura1v1tnmu: none;
      --nura2kwzeb: 50ms ease;
      --nura1vvtfo9: .2s ease;
      --nuraitlshj: .5s ease;
    }

    :host, .nura8l07yk {
      --nura5ws185: "Inter Variable", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
      --nura15pxpln: "Source Code Pro", monospace;
      --nuraop3txb: 100;
      --nurav8kkbq: 200;
      --nura1wxy3a5: 300;
      --nura1vbl1il: 400;
      --nuraez42cl: 500;
      --nura111zgvv: 600;
      --nuraa6i7ec: 700;
      --nuraicucjz: 800;
      --nura1bthghg: 800;
      --nura13kdxmb: 0;
      --nurarrpz26: 0;
      --nuras6s3bh: 0;
      --nura1q7jn1b: .01em;
      --nuraccq7bu: .02em;
      --nuracrl1yn: .04em;
    }

    :host, .nura927nu8 {
      --nuraal11a2: 1;
      --nuraybsm5d: 1.15;
      --nuradim0st: 1.5;
      --nura15tybe0: 1.75;
      --nura12eayp6: 2;
      --nurawn9jkm: 2.5;
    }

    :host, .nura13v19d {
      --nurab1mhng: .625rem;
      --nuraytyjg6: .75rem;
      --nurat1ana1: .875rem;
      --nurasoc02c: 1rem;
      --nurauozfb3: 1.125rem;
      --nura151zclg: 1.5rem;
      --nurabek6tk: 1.625rem;
      --nurax1s4n2: 1.75rem;
    }

    :host, .nuraak2exh {
      --nurabtcvpl: 0px;
      --nura1afi7qv: .125rem;
      --nura15yqgvb: .25rem;
      --nurasf3o3m: .375rem;
      --nuraimulti: .5rem;
      --nura16zmalv: .75rem;
      --nurafz7cjn: 9999px;
    }

    :host, .nuracil3y2 {
      --nurachopq3: 0 1px 2px 0 #0000000d;
      --nura1had6qr: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
      --nura3eu4ha: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
      --nura1bngygi: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
      --nura1xrsavr: inset 0 2px 4px 0 #0000000d;
      --nura16zvxss: 0 0 #0000;
    }

    :host, .nura1uv39ic {
      --nuraxr9zr7: 0px;
      --nura16twfyi: 8px;
      --nurafuhwbp: 10px;
      --nura1lwdqd5: 12px;
      --nurak4tti0: 16px;
      --nura7x3zcf: 24px;
      --nura11a4zim: 36px;
      --nurant3gmo: 72px;
    }
  }
}

@layer priority1 {
  :host, .nurazc319s {
    --nura15kgmj: #4382fb;
    --nurax6kfw9: #4382fb;
    --nura4qrh3c: #4382fb;
    --nura4rgbf3: #4382fb;
    --nuragb6esp: #000;
    --nura1j32yk2: #fff;
    --nura1p03kfg: #fff;
    --nura376bx6: #62db99;
    --nuran4vk4j: #91e6b7;
    --nura1dazbhd: #ffec89;
    --nura1q5ggap: #ff8989;
    --nuraa6m4zy: #ff5757;
    --nura150i0fq: #fff;
    --nura1jdn895: #f5f5f5;
    --nura8abwj1: #e6d9c9;
    --nuraym7x2c: #b0b0b0;
    --nurakl6nur: #f59e0b;
    --nurauhjdni: #dc2626;
    --nurai1uixs: #059669;
    --nura1087wr9: #4b5563;
    --nura1lb4ufl: #d1d5db;
  }

  :host, .nura7gcsh8 {
    --nura176ojlx: none;
    --nura1wlx08b: 50ms ease;
    --nura1eenqhm: .2s ease;
    --nura1f6llm2: .5s ease;
  }

  :host, .nura1w6omlp {
    --nura1afdf2b: 0px;
    --nurag6ayps: .25rem;
    --nuralthc6s: .5rem;
    --nura1oznd4d: .75rem;
    --nura192u6nt: 1rem;
    --nura1os0kvx: 1.25rem;
    --nura14mt8wj: 1.5rem;
    --nura1xt2y8: 1.75rem;
    --nuratgqwgb: 2rem;
    --nuranq48h4: 2.25rem;
    --nura1bmxp07: 2.5rem;
    --nura1mlaj3q: 1px;
    --nuraax6egv: .125rem;
    --nurafjxrbo: .375rem;
    --nura83jwqh: .625rem;
    --nura16yckt: .875rem;
    --nurah64jnx: 100%;
  }

  :host, .nurarsmpdc {
    --nura1guq9b5: blur(0);
    --nuray66o3g: blur(4px);
    --nura1we6cbv: blur(12px);
    --nura1x368jr: blur(16px);
  }

  :host, .nuragiplfr {
    --nura1ntqx68: .625rem;
    --nura1g25ex6: .75rem;
    --nuraqga6x8: .875rem;
    --nura1yowshf: 1rem;
    --nuranllqx7: 1.125rem;
    --nura148rs9k: 1.5rem;
    --nura1y8tq2k: 1.625rem;
    --nuraeix4xg: 1.75rem;
  }

  :host, .nura1emvwvy {
    --nura1obd0uo: 0px;
    --nura1c9ws0i: .125rem;
    --nura1u00lbx: .25rem;
    --nura1v6ju4d: .375rem;
    --nura1oqbosc: .5rem;
    --nuraz92cg0: .75rem;
    --nura8his1l: 9999px;
  }

  :host, .nurasjkyy3 {
    --nura1ytzsko: 1;
    --nura1td2vm4: 1.15;
    --nuraocgciw: 1.5;
    --nuraxrifnr: 1.75;
    --nura1gjezia: 2;
    --nuradoea5v: 2.5;
  }

  :host, .nura1avxsrv {
    --nura61urvs: 10;
    --nura1ei5vz8: 20;
    --nura1c1ofgz: 30;
    --nura98b2z7: 40;
    --nura1qkdzau: 50;
    --nurarizrlm: -999999;
    --nura1drb8yl: auto;
  }

  :host, .nuray4fqpn {
    --nurab0d2oh: "Inter Variable", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --nura1q6hgg3: "Source Code Pro", monospace;
    --nura1h50opk: 100;
    --nura1mlt2cb: 200;
    --nura1mpp5bz: 300;
    --nurapfunkk: 400;
    --nura15wuila: 500;
    --nuran8rt1q: 600;
    --nuralxs4ab: 700;
    --nurao6jd0z: 800;
    --nura1p1d7fs: 800;
    --nura1mhtijf: 0;
    --nural0r81e: 0;
    --nuraipvt1z: 0;
    --nura103k51f: .01em;
    --nuraz6gym2: .02em;
    --nurac66gpe: .04em;
  }

  :host, .nura1du2u5v {
    --nuraez2jv5: 0px;
    --nura10zij36: 8px;
    --nurabjmzjv: 10px;
    --nura1dtjy4r: 12px;
    --nurazykr3n: 16px;
    --nura13jb585: 24px;
    --nura1wb8x52: 36px;
    --nura1bgolzt: 72px;
  }

  :host, .nura1m9jo0c {
    --nurafqzbbl: 0 1px 2px 0 #0000000d;
    --nuratmuee3: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --nura15olmqr: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
    --nurajyizgl: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    --nura11aqasm: inset 0 2px 4px 0 #0000000d;
    --nura1kc53uu: 0 0 #0000;
  }

  @media (width <= 1024px) {
    :host, .nurazc319s {
      --nura15kgmj: #4382fb;
      --nurax6kfw9: #4382fb;
      --nura4qrh3c: #4382fb;
      --nura4rgbf3: #4382fb;
      --nuragb6esp: #000;
      --nura1j32yk2: #fff;
      --nura1p03kfg: #fff;
      --nura376bx6: #62db99;
      --nuran4vk4j: #91e6b7;
      --nura1dazbhd: #ffec89;
      --nura1q5ggap: #ff8989;
      --nuraa6m4zy: #ff5757;
      --nura150i0fq: #fff;
      --nura1jdn895: #f5f5f5;
      --nura8abwj1: #e6d9c9;
      --nuraym7x2c: #b0b0b0;
      --nurakl6nur: #f59e0b;
      --nurauhjdni: #dc2626;
      --nurai1uixs: #059669;
      --nura1087wr9: #4b5563;
      --nura1lb4ufl: #d1d5db;
    }

    :host, .nura7gcsh8 {
      --nura176ojlx: none;
      --nura1wlx08b: 50ms ease;
      --nura1eenqhm: .2s ease;
      --nura1f6llm2: .5s ease;
    }

    :host, .nura1w6omlp {
      --nura1afdf2b: 0px;
      --nurag6ayps: .25rem;
      --nuralthc6s: .5rem;
      --nura1oznd4d: .75rem;
      --nura192u6nt: 1rem;
      --nura1os0kvx: 1.25rem;
      --nura14mt8wj: 1.5rem;
      --nura1xt2y8: 1.75rem;
      --nuratgqwgb: 2rem;
      --nuranq48h4: 2.25rem;
      --nura1bmxp07: 2.5rem;
      --nura1mlaj3q: 1px;
      --nuraax6egv: .125rem;
      --nurafjxrbo: .375rem;
      --nura83jwqh: .625rem;
      --nura16yckt: .875rem;
      --nurah64jnx: 100%;
    }

    :host, .nurarsmpdc {
      --nura1guq9b5: blur(0);
      --nuray66o3g: blur(4px);
      --nura1we6cbv: blur(12px);
      --nura1x368jr: blur(16px);
    }

    :host, .nuragiplfr {
      --nura1ntqx68: .625rem;
      --nura1g25ex6: .75rem;
      --nuraqga6x8: .875rem;
      --nura1yowshf: 1rem;
      --nuranllqx7: 1.125rem;
      --nura148rs9k: 1.5rem;
      --nura1y8tq2k: 1.625rem;
      --nuraeix4xg: 1.75rem;
    }

    :host, .nura1emvwvy {
      --nura1obd0uo: 0px;
      --nura1c9ws0i: .125rem;
      --nura1u00lbx: .25rem;
      --nura1v6ju4d: .375rem;
      --nura1oqbosc: .5rem;
      --nuraz92cg0: .75rem;
      --nura8his1l: 9999px;
    }

    :host, .nurasjkyy3 {
      --nura1ytzsko: 1;
      --nura1td2vm4: 1.15;
      --nuraocgciw: 1.5;
      --nuraxrifnr: 1.75;
      --nura1gjezia: 2;
      --nuradoea5v: 2.5;
    }

    :host, .nura1avxsrv {
      --nura61urvs: 10;
      --nura1ei5vz8: 20;
      --nura1c1ofgz: 30;
      --nura98b2z7: 40;
      --nura1qkdzau: 50;
      --nurarizrlm: -999999;
      --nura1drb8yl: auto;
    }

    :host, .nuray4fqpn {
      --nurab0d2oh: "Inter Variable", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
      --nura1q6hgg3: "Source Code Pro", monospace;
      --nura1h50opk: 100;
      --nura1mlt2cb: 200;
      --nura1mpp5bz: 300;
      --nurapfunkk: 400;
      --nura15wuila: 500;
      --nuran8rt1q: 600;
      --nuralxs4ab: 700;
      --nurao6jd0z: 800;
      --nura1p1d7fs: 800;
      --nura1mhtijf: 0;
      --nural0r81e: 0;
      --nuraipvt1z: 0;
      --nura103k51f: .01em;
      --nuraz6gym2: .02em;
      --nurac66gpe: .04em;
    }

    :host, .nura1du2u5v {
      --nuraez2jv5: 0px;
      --nura10zij36: 8px;
      --nurabjmzjv: 10px;
      --nura1dtjy4r: 12px;
      --nurazykr3n: 16px;
      --nura13jb585: 24px;
      --nura1wb8x52: 36px;
      --nura1bgolzt: 72px;
    }

    :host, .nura1m9jo0c {
      --nurafqzbbl: 0 1px 2px 0 #0000000d;
      --nuratmuee3: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
      --nura15olmqr: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
      --nurajyizgl: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
      --nura11aqasm: inset 0 2px 4px 0 #0000000d;
      --nura1kc53uu: 0 0 #0000;
    }
  }
}
