@layer priority1 {
  .background-xb6wlsq {
    background: #ffffffbf;
  }

  .background-xlu028j {
    background: #ffffffe6;
  }

  .border-x7vd2ds {
    border: 1px solid #dee2e6;
  }

  .border-xfj9a5l {
    border: 1px solid #0000;
  }

  .border-xuy8v58 {
    border: 2px solid #333;
  }

  .border-xlqlr9h {
    border: 2px solid #ffffffb3;
  }

  .border-x1gs6z28 {
    border: none;
  }

  .inset-x10a8y8t {
    inset: 0;
  }

  .margin-x19bbpc0 {
    margin: 0 auto;
  }

  .margin-x1ghz6dp {
    margin: 0;
  }

  .padding-xu8om6g {
    padding: .5rem .75rem;
  }

  .padding-xxm6lfi {
    padding: .75rem 0 1rem;
  }

  .padding-x1717udv {
    padding: 0;
  }

  .padding-xc7ga6q {
    padding: 12px;
  }

  .padding-x1qhigcl {
    padding: 20px;
  }

  .padding-xtsht4i {
    padding: 2rem 0;
  }

  .padding-x1ff1495 {
    padding: 8px 16px;
  }
}

@layer priority2 {
  .borderColor-x1gp4mws {
    border-color: #ffffffb3;
  }

  .borderRadius-x12oqio5 {
    border-radius: 4px;
  }

  .borderRadius-x16rqkct {
    border-radius: 50%;
  }

  .gap-xvh977a {
    gap: .25rem;
  }

  .gap-x13z6uf9 {
    gap: .5rem;
  }

  .outline-x1a2a7pz {
    outline: none;
  }

  .overflow-xysyzu8 {
    overflow: auto;
  }

  .overflow-xb3r6kr {
    overflow: hidden;
  }

  .transition-x169l3ba {
    transition: all .2s;
  }

  .transition-x5gkzjs {
    transition: background-color .2s;
  }

  .borderColor-xowlo53:active {
    border-color: #007aff;
  }

  .borderColor-x117on2v:active {
    border-color: #5ac8fa;
  }

  @media (hover: hover) {
    .borderColor-xoy28b.borderColor-xoy28b:hover {
      border-color: #007aff;
    }

    .borderColor-xs52nbu.borderColor-xs52nbu:hover {
      border-color: #5ac8fa;
    }

    .borderColor-x1g2krxu.borderColor-x1g2krxu:hover {
      border-color: #00000059;
    }

    .borderColor-x19yqvnk.borderColor-x19yqvnk:hover {
      border-color: #ffffffbf;
    }
  }

  @media (hover: none) {
    .transition-x1r1yelf.transition-x1r1yelf:active {
      transition: all .1s;
    }
  }
}

@layer priority3 {
  .alignItems-x6s0dn4 {
    align-items: center;
  }

  .backgroundColor-x1lh7yn1 {
    background-color: #007bff;
  }

  .backgroundColor-xmiktxe {
    background-color: #f8f9fa;
  }

  .backgroundColor-xas4zb2 {
    background-color: #0000000d;
  }

  .backgroundColor-x1si8nl4 {
    background-color: #0000001a;
  }

  .backgroundColor-x3tctdg {
    background-color: #ffffff1f;
  }

  .backgroundColor-x1q9rc7u {
    background-color: #ffffff40;
  }

  .backgroundColor-x12peec7 {
    background-color: #fff;
  }

  .boxSizing-x9f619 {
    box-sizing: border-box;
  }

  .color-x1525slw {
    color: #333;
  }

  .color-x36lisw {
    color: #6c757d;
  }

  .color-x10bj97 {
    color: #dc3545;
  }

  .color-x1awj2ng {
    color: #fff;
  }

  .containerType-xpqogu8 {
    container-type: size;
  }

  .cursor-x1h6gzvc {
    cursor: not-allowed;
  }

  .cursor-x1ypdohk {
    cursor: pointer;
  }

  .display-x78zum5 {
    display: flex;
  }

  .flexDirection-xdt5ytf {
    flex-direction: column;
  }

  .flexGrow-x1iyjqo2 {
    flex-grow: 1;
  }

  .flexShrink-x2lah0s {
    flex-shrink: 0;
  }

  .fontFamily-x6n8kwa {
    font-family: system-ui, -apple-system, sans-serif;
  }

  .fontSize-xfifm61 {
    font-size: 12px;
  }

  .fontSize-xif65rj {
    font-size: 14px;
  }

  .justifyContent-xl56j7k {
    justify-content: center;
  }

  .opacity-xbyyjgo {
    opacity: .5;
  }

  .pointerEvents-x47corl {
    pointer-events: none;
  }

  .position-x10l6tqk {
    position: absolute;
  }

  .position-x1n2onr6 {
    position: relative;
  }

  .textAlign-x2b8uid {
    text-align: center;
  }

  .textAlign-xdpxx8g {
    text-align: left;
  }

  .transform-x1cb1t30 {
    transform: translateY(-50%);
  }

  .userSelect-x87ps6o {
    user-select: none;
  }

  .visibility-xlshs6z {
    visibility: hidden;
  }

  .zIndex-x1n327nk {
    z-index: 10;
  }

  .zIndex-x1355qak {
    z-index: 20;
  }

  .backgroundColor-ximwwh7:active {
    background-color: #007aff33;
  }

  .backgroundColor-x1qmpg0c:active {
    background-color: #5ac8fa40;
  }

  .transform-xvruv2t:active {
    transform: scale(.9);
  }

  @media (hover: hover) {
    .backgroundColor-xzuoiqm.backgroundColor-xzuoiqm:hover {
      background-color: #0003;
    }

    .backgroundColor-x2oa872.backgroundColor-x2oa872:hover {
      background-color: #007aff1a;
    }

    .backgroundColor-x1i6p5e5.backgroundColor-x1i6p5e5:hover {
      background-color: #ffffff4d;
    }

    .backgroundColor-x1bnmw9t.backgroundColor-x1bnmw9t:hover {
      background-color: #5ac8fa2e;
    }

    .transform-xje0exv.transform-xje0exv:hover {
      transform: scale(1.05);
    }
  }

  @media (hover: none) {
    .transform-x26m0zi.transform-x26m0zi:active {
      transform: scale(.85);
    }
  }
}

@layer priority4 {
  .height-x5yr21d {
    height: 100%;
  }

  .height-xlup9mm {
    height: 16px;
  }

  .height-x10w6t97 {
    height: 32px;
  }

  .height-x1peatla {
    height: 64px;
  }

  .left-xtmw667 {
    left: .75rem;
  }

  .marginBottom-x1yztbdb {
    margin-bottom: 16px;
  }

  .marginBottom-x1hq5gj4 {
    margin-bottom: 24px;
  }

  .marginBottom-x1e56ztr {
    margin-bottom: 8px;
  }

  .marginTop-x1mjqqkp {
    margin-top: .5rem;
  }

  .marginTop-xqui205 {
    margin-top: 24px;
  }

  .marginTop-x1hpjnmm {
    margin-top: 3rem;
  }

  .maxWidth-x1j9u4d2 {
    max-width: 400px;
  }

  .maxWidth-xrlsmeg {
    max-width: 600px;
  }

  .minHeight-xg6iff7 {
    min-height: 100vh;
  }

  .minHeight-xe8gcm {
    min-height: 3rem;
  }

  .top-xwa60dl {
    top: 50%;
  }

  .width-xh8yej3 {
    width: 100%;
  }

  .width-x1kky2od {
    width: 16px;
  }

  .width-x1td3qas {
    width: 32px;
  }

  .width-x1fu8urw {
    width: 64px;
  }

  @container (aspect-ratio >= 1) {
    .maxWidth-xthuv2.maxWidth-xthuv2 {
      max-width: 177.778cqh;
    }
  }

  @container (aspect-ratio <= 1) {
    .maxWidth-xbjzrla.maxWidth-xbjzrla {
      max-width: none;
    }
  }
}
