.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    font-size: 16px;
    color: #b0b0b0;
    background-color: #fafafa;
    border: none;
    border-bottom: 2px solid rgba(234, 238, 245, 1);
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:focus {
    outline: none;
    background-color: #fafafa;
    border-bottom: 2px solid rgb(0, 156, 249);
}

.button span {
    margin-right: 10px;
}

.button svg {
    font-size: 18px;
}