.baseTimer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.baseTimerSvg {
  transform: scaleX(-1);
}

.baseTimerCircle {
  fill: none;
  stroke: none;
}

.baseTimerPathElapsed {
  stroke-width: 7px;
  stroke: grey;
}

.baseTimerPathRemaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.baseTimerPathRemaining.green {
  color: rgb(65, 184, 131);
}

.baseTimerPathRemaining.orange {
  color: orange;
}

.baseTimerPathRemaining.red {
  color: red;
}

.baseTimerLabel {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}
