.checkbox-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 8px 0px;
}

.checkbox-wrapper p {
  white-space: nowrap;
}

.checkbox-wrapper input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: 1.5px solid #009cf9;
  cursor: pointer;
  background-color: #f8f8f8;
  flex-shrink: 0;
}

.checkbox-wrapper input[type="checkbox"]:hover {
  background-color: #24527B;
}

.checkbox-wrapper input[type="checkbox"]:checked {
  background-color: #009cf9;
}

.checkbox-wrapper input[type="checkbox"]:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 5px;
  height: 13px;
  border: 4px solid transparent;
  border-left: none;
  border-top: none;
}

.checkbox-wrapper input[type="checkbox"]:checked:before {
  border-color: #ffffff;
  animation: checkAnim 0.2s ease;
}

.checkbox-wrapper label {
  text-wrap: wrap;
  margin-left: 8px;
  font-size: 1rem;
  font-weight: 400;
}

@keyframes checkAnim {
  from {
    transform: rotate(45deg) scale(0);
  }

  to {
    transform: rotate(45deg) scale(1);
  }
}

@media screen and (min-width: 700px) {
  .checkbox-wrapper label {
    font-size: 1rem;
  }
}