.carousel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 70%; */
    width: 100%;
    border-radius: 16px;
    padding-bottom: 19px;
    background-color: #F4F7F8;
    color:  #0C1617;
}

.pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    /* margin-top: 16px; */
}

.pagination .dot,
.active-dot_ {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #00000080;
    transition: all 0.3s ease-in-out;
}

.active-dot_ {
    background: #0c1617;
}

.page-btn {
    width: 16px;
    height: 16px;
    border: none;
    background: transparent;
    transition: all 0.3s ease-in-out;
    color: #adadad;
    align-items: center;
    cursor: pointer;
}

.page-btn:hover {
    color: #009cf9;
    font-size: 16px;
}

@media (min-width: 700px) {
    .carousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        padding: 94px;
        /* background: linear-gradient(90deg, #0091F9 0%, #00CCFA 100%); */
    }
    /* .active-dot {
        background: #FFFFFF80;
    } */
    .pagination {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        align-items: center;
        margin-top: 16px;
    }
    /* .pagination .dot,
    .active-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #FFFFFF;
        transition: all 0.3s ease-in-out;
    } */
    .page-btn {
        width: 16px;
        height: 16px;
        border: none;
        background: transparent;
        transition: all 0.3s ease-in-out;
        color: #FFFFFF;
        align-items: center;
        cursor: pointer;
    }
}