.agreement-container {
  /* display: flex; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  text-align: center;
  background: #f8f8f8;
  position: relative;
  overflow: hidden;
}

.agreement-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.agreement-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* height: 10%; */
  /* box-shadow: -10px 22px 66px 0px rgba(0, 0, 0, 0.1); */
  /* position: fixed; */
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
}

.signature-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  text-align: center;
  background: #f8f8f8;
  overflow: hidden;
}

.test-agreement-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10dvh;
  box-shadow: -10px 22px 66px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  padding: 0px 8px;
}

.agreement-title-container {
  flex-grow: 1;
  font-size: 20px;
  font-weight: 400;
  color: #4e555d;
}

.agreement-items-wrap {
  height: 90%;
  width: 100%;
  color: #4e555d;
  text-align: left;
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
  margin-bottom: 10%;
  padding-bottom: 25%;
}

.agreement-header-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #0c1617;
}

.agreement-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
}

.paginate {
  display: flex;
  justify-content: center !important;
  align-items: center;
  white-space: nowrap;
  padding: 0 20px;
  /* width: 20%; */
}

.image-container {
  margin: 10px;
  height: 50%;
  width: 70%;
  border-radius: 8px;
  overflow: hidden;
}

.captured-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.route-home {
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: #009cf9;
  padding: 16px;
  width: 100%;
  height: 44px;
}

.dxtop-wrap-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

@media screen and (min-width: 700px) {
  .agreement-container {
    display: flex;
    flex-direction: column !important;
    width: 100% !important;
    background: #f8f8f8;
    height: 100vh;
  }

  .signature-container {
    display: flex;
    flex-direction: column !important;
    width: 100% !important;
    background: #f8f8f8;
    height: 100vh;
  }

  .agreement-items-wrap {
    margin-bottom: 5%;
  }

  .agreement-header-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
  }

  .route-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #009cf9;
    padding: 16px;
    width: 100%;
    height: 44px;
  }
  .wrap-home-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    gap: 4px;
    color: #ffffff;
  }
  .agreement-footer-container {
    display: flex;
    width: 100%;
    /* height: 10vh; */
    bottom: 0;
    background: #ffffff;
    padding: 20px;
  }

  .dxtop-wrap-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
  }

  .wrap-paginate {
    padding: 8px;
    /* width: 120px; */
    text-wrap: nowrap;
  }

  .paginate {
    display: flex;
    width: 50%;
    padding: 0px 30px;
    gap: 4px;
  }

  .gap- {
    width: 40%;
    height: 100%;
  }

  .bac-checkList {
    max-width: 864px;
    justify-self: center;
    align-self: center;
    margin-top: 150px;
  }
}
