.no-auth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background: #f8f8f8;
  height: 100vh;
  width: 100%;
}

.auth_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
}

.recoverytrek {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #95a3b4;
  cursor: pointer;
}

.check-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  margin-bottom: 20px;
}

.custom-button-1 {
  font-size: 20px;
  color: #4e555d;
  background-color: #ffffff;
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  border: 1px solid #e3e6eb;
  /* margin-bottom: 2em; */
  /* margin-top: 2em; */
  text-align: center;
  box-shadow: 10px 10px 50px 0px #0000000d;
}

.custom-button-1:hover {
  background: #e4e2e2;
}

.sign-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 48px;
}

.back {
  display: flex;
  align-items: center;
  height: 7%;
  width: 100%;
}

/* .sign-header h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48.41px;
    text-align: left;
    color: #009cf9;
} */

.sign-header p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  color: #4e555d;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.forgot-pin {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #009cf9;
}

.otp-text {
  font-weight: 400px;
}
.gap-item-auth {
  gap: 8px;
}

@media (min-width: 700px) {
  .auth_container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .custom-button-1 {
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 12px;
    border: 1.3px solid var(--Neutral-300, #aab5c2);
    color: #4e555d;
  }

  .auth-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 16px;
  }
}
