.checkbox-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0px;
}

.camera-view-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #4e555d;
  margin-top: 15px;
}

.idd-title {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #0c1617;
}

.idd-txt {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  /* color: #4E555D; */
}

.test-items-wrap-desktop_ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 32px; */
  width: 100%;
  height: fit-content;
  /* height: 100%; */
}

@media (min-width: 700px) {
  .test-items-wrap-desktop_ {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding: 0px 32px; */
    width: 100%;
    height: 100%;
    background: #ecf1f3;
    border-radius: 16px;
  }

  .test-items-wrap-desktop_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
    width: 100%;
    height: 100%;
    background-color: #ecf1f3;
    border-radius: 0px 16px 16px 0px;
    overflow-y: auto;
    gap: 8px;
  }
  .sub-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 0px 32px;
    overflow-y: auto;
  }
  .sub-item-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 0px 32px;
    position: relative;
  }
  .checkbox-container {
    margin-top: 15px;
  }
}
