.summary-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 16px;
}

.summary-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.sum-warning {
  width: 100%;
  background: #fee2e2;
  border: 1px solid #fca5a5;
  border-radius: 8px;
  padding: 16px 12px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.sum-texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.sum-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 5px;
}

.sum-text p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.sum-text h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.upload-status,
.test-upload-pass,
.test-upload-fail {
  width: 100%;
  color: #ffffff;
  border-radius: 8px;
  padding: 10px;

  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.upload-status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: #24527b;
  border: 1px solid #009cf9;
}

.test-upload-pass {
  background: #10b981;
  border: 1px solid #2ed086;
}

.test-upload-fail {
  background: #ff6566;
  border: 1px solid #ff6566;
}

.video-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  margin: 20px 0;
  position: relative;
}

.video-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.vid-prev {
  width: auto;
  height: 100%;
}

.exit-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.speed-controls {
  position: absolute; /* Position absolutely within the video container */
  bottom: 10%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Offset by 50% of its width and height to truly center it */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Ensure controls are on top of the video */
}

@media screen and (min-width: 700px) {
  .summary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px;
    background-color: #fafafa;
  }

  .wrap-dx {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background-color: #009CF9; */
  }

  .items-wrap-collection-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 16px;
    height: 100%;
  }

  .summary-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 90%;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 12px;
  }

  .video-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 0;
    background-color: #009cf9;
    position: relative; /* Set to relative to allow absolute positioning of children */
  }

  .vid-prev {
    width: auto;
    height: 100%;
    object-fit: contain;
    border-radius: 0px;
  }

  .speed-controls {
    position: absolute; /* Position absolutely within the video container */
    bottom: 10%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(
      -50%,
      -50%
    ); /* Offset by 50% of its width and height to truly center it */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Ensure controls are on top of the video */
  }

  .speed-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 20px 20px;
    margin: 0 10px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .speed-btn.selected {
    background-color: white;
    color: blue;
  }

  .speed-btn:hover {
    opacity: 0.8;
  }

  .collection-summary-submission-status {
    position: absolute;
    width: 50%;
    height: 25px;
    left: 10px;
    bottom: 3%;
    z-index: 100;
  }

  .sum-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 0px;
  }
}
