.feedback-text {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #0c1617;
}

.feedback-gesture-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-imoji {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.prescreen-img {
  height: 471px;
  width: 720px;
}

@media screen and (min-width: 700px) {
  .feed-back-destop-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 416px;
    height: 500px;
    padding: 29px;
    border-radius: 16px;
    gap: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px #0000000d;
  }
  .feedback-items-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .radio-button-container {
    width: 100%;
  }
}
