.get-started-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  background: #f8f8f8;
  position: relative;
  gap: 20px;
}

.get-started-img {
  width: 100%;
  height: auto;
}

.get-started-title {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 400;
  color: #0c1617;
  line-height: 1.4rem;
}

.get-started-container ul {
  height: 50%;
  gap: 20px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}

.container-test-collection li {
  margin-left: 1em;
  list-style-type: square;
  margin-top: 12px;
}

@media screen and (min-width: 700px) {
  .get-started-img {
    height: auto;
    width: 50%;
  }
  .side-img {
    height: 100%;
    width: 100%;
  }
  .wrap-img {
    width: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    height: 100%;
    position: relative;
  }

  .get-started-title {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 400;
    color: #0c1617;
    line-height: 1.8rem;
  }
}
