.history-container {
    padding: 1.5rem;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius: 16px;
    background-color: #F4F7F8;
    box-shadow: 
            0 10px 40px rgba(0, 0, 0, 0.15),    
            0 8px 20px rgba(0, 156, 249, 0.08), 
            0 4px 8px rgba(0, 0, 0, 0.1);  
    transition: box-shadow 0.3s ease; 
}

.history-button {
    width: 100%;
    padding: 8px 16px;
    height: 50px;
    border: 1px solid rgba(119, 119, 119, 0.3);
    color: rgba(12, 22, 23, 1);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.history-button-container {
    width: 100%;
    height: 200px;
}

.history-title {
    font-size: 20px;
    font-weight: 400;
    color: rgba(78, 85, 93, 1);
}

.history-link {
    width: 100%;
}

.history-header-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
}

.icon-container {
    cursor: pointer;
    margin-right: 10px;
}

.title-container {
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.login-history-container {
    width: 100%;
    height: 90%;
}

.login-history-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: -0.01em;
    text-align: start;
    color: rgba(149, 163, 180, 1);
    /* margin-bottom: 10px; */
    align-self: flex-start;
}

.bac-test-items {
    text-align: left;
    width: Fixed (382px) px;
    height: Hug (59px) px;
    padding: 0px 0px 8px 0px;
    gap: 12px;
    border: 0px 0px 1px 0px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(149, 163, 180, 0.5);
}

.login-history-container h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(12, 22, 23, 1);
}

.history-tab {
    margin-top: 2rem;
}

.tests-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(328px, 1fr));
    gap: 16px;
    padding: 16px;
    width: 100%;
    height: 60vh;
    overflow: scroll;
    box-sizing: border-box;
    scrollbar-width: 0;
}

.tests-grid-container::-webkit-scrollbar {
    display: none
}

.history-card {
    width: 328px;
    height: 212px;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.history-card-title-row {
    align-items: center;
    justify-content: space-between;
}

.history-card-icon-text {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.search-filter-upload {
    justify-content: space-between;
    margin: 1.5rem 0 2rem 0;
}

.history-search {
    max-width: 22.25rem;
}


@media screen and (max-width: 840px) {
    .search-filter-upload {
        flex-direction: column!important;
        gap: 16px;
    }
}