.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
  text-align: center;
  background: #f8f8f8;
}

.containerSignin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  background-color: rgb(255, 255, 255);
}

.signHeader {
  margin-top: 10em;
  width: 100%;
  height: 150px;
  font: Inter;
}

.signHeader h1 {
  color: #009cf9;
}

.signHeader h2 {
  color: #95a3b4;
  line-height: 24px;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 50px;
  margin-top: 20px;
}
