.support-container {
    width: 100%;
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: 32px !important;
    overflow-y: auto;
}

.support-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /* flex-direction: row; */
    justify-items: center;
    gap: 12px;
    margin-top: 32px;
    margin-bottom: 12px;
    width: 100%;
    box-sizing: border-box;
}

.support-section {
    background-color: #FFFFFF;
    padding: 32px 53px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 24px;
    align-items: center;
    flex: 1;
    /* height: 223px; */
    width: 100%;
    padding: 16px;
    /* webkit-box-shadow: -1px -1px 10px 1px rgba(160, 160, 160, 0.5);
    -moz-box-shadow: -1px -1px 10px 1px rgba(160, 160, 160, 0.5);
    box-shadow: -1px -1px 10px 1px rgba(160, 160, 160, 0.5); */
}

.faqs {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 32px;
    margin-top: 32px;
    width: 100%;
    overflow-y: scroll;
    /* flex: 1 */
    height: 400px;
}

.faqs::-webkit-scrollbar {
    display: none;
}

.faq {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 18px;
}

.faq-title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    color: #0C1617;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 8px;
    cursor: pointer;
}

.faq-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #4E555D;
    padding: 8px;
}

@media (max-width: 700px) {
    .support-container {
        padding: 0 24px;
        height: fit-content;
        padding-bottom: 100px!important;
    }
    .support-content {
        flex-direction: column;
    }
    .support-section {
        background-color: transparent;
        padding: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 16px 0;
        height: auto;
        webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .faq {
        background-color: transparent;
        border-bottom: 1px;
        border-bottom-color: #EAEAEA;
        padding: 0;
    }
    .faq-text {
        font-size: 0.875rem;
    }
}