.system-chk-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100% !important;
  background: #fafafa;
  height: 100vh;
}

.system-chk-container > :nth-child(1) {
  position: sticky;
  top: 0px;
  z-index: 1000;
  padding: 0px 16px;
}

.system-chk-container > :nth-child(3) {
  background: #f8f8f8;
  position: fixed;
  bottom: 0;
}

.system-check-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.system-check-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  justify-self: center;
  width: 90%;
  height: auto;
  padding: 24px;
  gap: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e3e6eb;
}
.systemCheckTitle {
  font-size: 27.65px;
  font-weight: 600;
  line-height: 33.18px;
  color: #0c1617;
}
.wrap-title {
  display: flex;
  flex-direction: column;
}

.system-check-title {
  font-size: 18px;
  font-weight: 600px;
  text-align: left;
  line-height: 23px;
  color: #0c1617;
}

.system-check-sub-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #2ed086;
}

.system-check-sub-title-check-bad {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #ff6566;
}

.sys-chk-icon {
  width: 50px;
  height: 50px;
}

.sys-chk-title {
  display: none;
}

@media (min-width: 700px) {
  .system-check-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    justify-self: center;
    width: 416px;
    height: 92px;
    padding: 24px;
    gap: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e3e6eb;
  }

  .container-test-collection {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: relative;
  }
  .system-chk-container {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    width: 100% !important;
    background: #f8f8f8;
    height: 100vh;
  }

  .system-chk-container > :nth-child(1) {
    padding: 0px;
  }
  .system-check-items {
    display: flex;
    /* align-self: center; */
    justify-content: center;
    border-radius: 18px;
    /* height: 100%; */
    width: 100%;
    background-color: #f4f7f8;
  }
  .btn-system-chk {
    width: 192px !important;
    height: 40px !important;
    position: absolute;
    gap: 16px;
    bottom: 7%;
    right: 5%;
  }
  .sys-chk-title {
    display: block;
    text-align: center;
  }
}
