.tutorial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: #f4f7f8;
  margin-bottom: 60px;
}

.tutorial-video {
  width: 75vw;
  height: 75vh;
  background-color: #009cf9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0, 156, 249);
  z-index: 9100;
}

.vid-close {
  position: absolute;
  z-index: 9300;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.header-height {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20%;
  width: 100%;
}

.header-height h1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  color: rgba(12, 22, 23, 1);
}

.header-height p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: rgba(77, 91, 107, 1);
}

.header-height span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: rgba(0, 156, 249, 1);
}

.main-body {
  width: 100%;
}

.switch-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.switch-wrap p {
  color: rgba(0, 156, 249, 1);
}

.tutorial-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.sub-wrap_tutorial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  height: 100%;
  width: 100%;
}

.footer-wrap {
  width: 100%;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 80%;
}

.detail h1 {
  font-size: 1.2em;
  font-weight: 100;
  line-height: 1.5em;
  text-align: left;
  color: rgba(77, 91, 107, 1);
  width: 15em;
  height: 1.5em;
  gap: 0.5em;
}

.detail p {
  font-size: 0.7em;
  font-weight: 400;
  line-height: 0.8em;
  text-align: left;
  color: rgba(77, 91, 107, 1);
}

.phone-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
}

.review-later {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 8px;
}

.label-chk {
  width: 100%;
  height: 1.2em !important;
  font-size: 0.7em !important;
  gap: 2px !important;
  margin-left: 10px;
  cursor: pointer;
}

.link {
  width: 30%;
}

.list-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 12px;
  gap: 24px;
  border-radius: 16px;
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 1);
}

.card-img {
  width: 75px;
  height: 55px;
}

.tut-text-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.tut-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(77, 91, 107, 1);
}

.tut-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(75, 86, 107, 0.5);
  transition: all 0.3s ease-in-out 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 0;
  cursor: pointer;
  border-radius: 0.5em;
  text-wrap: nowrap;
}

.tut-overlay:hover {
  opacity: 1;
}

.tut-overlay p {
  text-wrap: nowrap;
}

.grid-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 182px;
  padding: 16px;
  gap: 1em;
  border-radius: 0.5em;
  position: relative;
}

.tut-grid-img {
  width: 150px;
  height: auto;
}

.grid-card p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  text-wrap: nowrap;
}

.sub-wrap-grid_tutorial {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 18px;
}

.review-btn {
  text-wrap: nowrap;
  font-size: clamp(0.5rem, 2vw, 1rem);
  padding: 16px;
  gap: 10px;
  border-radius: 8px;
  background: #009cf9;
  outline: none;
  border-color: transparent;
  color: #ffffff;
}

@media screen and (min-width: 700px) {
  .footer-wrap {
    margin-top: 16px;
  }
  .tutorial-container {
    padding: 0px;
    border: 1px;
    border-radius: 16px;
    background: #f4f7f8;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15),
      0 8px 20px rgba(0, 156, 249, 0.08), 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-bottom: 0px;
  }
  .tut-overlay p {
    text-wrap: nowrap;
  }
  .tutorial-main {
    margin-bottom: 0px;
    padding: 24px;
    overflow: auto;
  }

  .tutorial-video {
    width: 80vw;
    height: 80vh;
    background-color: #009cf9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 156, 249);
    z-index: 9100;
  }

  .vid-close {
    position: absolute;
    z-index: 9300;
    top: 40px;
    right: 40px;
    cursor: pointer;
  }

  .sub-wrap-grid_tutorila {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 18px;
  }
  .sub-wrap_tutorial {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 16px;
    height: 100%;
    width: 100%;
    padding: 18px;
  }
  .grid-card {
    max-width: none !important;
    height: 288px;
    padding: 0 !important;
    justify-content: flex-start;
    overflow: hidden;
    background-color: #ffffff;
  }
  .tut-grid-img {
    width: 95%;
    height: 217px;
    border-radius: 10px;
    margin-top: 8px;
    background-color: #e0ecfa;
    object-fit: contain;
  }
  .list-card {
    height: 120px;
  }
  .card-img {
    background-color: #e0ecfa;
    width: 114px;
    border-radius: 4px;
    height: auto;
  }
}

@media screen and (min-width: 900px) {
  .sub-wrap-grid_tutorial {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    width: 100%;
  }
  .sub-wrap_tutorial {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .tutorial-container {
    height: fit-content;
    overflow-y: scroll;
  }

  .grid-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
}
