.views-container {
  height: 100%;
  width: 100%;
  /* margin: 10px; */
  /* margin-top: 20px; */
}

.view-switch-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 5%;
  width: 96%;
}

.grid-list {
  width: 100%;
  height: 95%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  background: #f8f8f8;
  padding: 16px;
  height: calc(100vh - 280px);
}

.grid-img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  height: calc(100vh - 280px);
}

.cursor-pointer {
  cursor: pointer;
}

.wrap-grid-items {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.05);
  border-style: solid;
  border-color: lightgray;
}

.list-card {
  display: flex;
  flex-direction: row;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12), 0 4px 16px rgba(0, 156, 249, 0.06);
  border-style: solid;
  border-color: lightgray;
}

.grid-img-wrap {
  padding: 12px;
  width: 100%;
}

.list-img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}

.list-items-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
}

.wrap-grid-items p {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: rgba(77, 91, 107, 1);
  margin-bottom: 8px;
}

.ellipsis-concierge {
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 9999;
}

.concierge-container {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 700px) {
  .views-container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    /* margin-top: 20px; */
  }

  .list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 32px 16px;
    height: calc(100vh - 150px);
    overflow: hidden;
    background: #f8f8f8;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
    /* padding-bottom: calc(200px + 16px); */
  }

  .list-card {
    display: flex;
    flex-direction: row;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12),
      0 4px 16px rgba(0, 156, 249, 0.06);
    border-style: solid;
    border-color: lightgray;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    background: #f8f8f8;
    padding: 16px;
    height: calc(100vh - 150px);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
  }

  .wrap-grid-items {
    padding: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12),
      0 4px 16px rgba(0, 156, 249, 0.06);
    max-height: 250px;
    border-style: solid;
    border-color: lightgray;
  }

  .list-card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12),
      0 4px 16px rgba(0, 156, 249, 0.06);
  }

  .wrap-grid-items:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12),
      0 4px 16px rgba(0, 156, 249, 0.06);
  }
}
