.welcome-sreen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 32px;
    width: 100%;
}

.pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.pagination .dot,
.active-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #adadad;
    transition: all 0.3s ease-in-out;
}

.pagination .active-dot {
    background: #009cf9;
}

.page-btn {
    width: 16px;
    height: 16px;
    border: none;
    background: transparent;
    transition: all 0.3s ease-in-out;
    color: #adadad;
    align-items: center;
    cursor: pointer;
}

.page-btn:hover {
    color: #009cf9;
    font-size: 16px;
}

.pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.pagination .dot,
.active-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #adadad;
    transition: all 0.3s ease-in-out;
}

.pagination .active-dot {
    background: #009cf9;
}

.page-btn {
    width: 16px;
    height: 16px;
    border: none;
    background: transparent;
    transition: all 0.3s ease-in-out;
    color: #adadad;
    align-items: center;
    cursor: pointer;
}

.page-btn:hover {
    color: #009cf9;
    font-size: 16px;
}

.pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.pagination .dot,
.active-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #adadad;
    transition: all 0.3s ease-in-out;
}

.pagination .active-dot {
    background: #009cf9;
}

.page-btn {
    width: 16px;
    height: 16px;
    border: none;
    background: transparent;
    transition: all 0.3s ease-in-out;
    color: #adadad;
    align-items: center;
    cursor: pointer;
}

.page-btn:hover {
    color: #009cf9;
    font-size: 16px;
}

.qe-btn-cont {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.qe-btn {
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #009cf9;
    color: white;
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qe-btn:hover {
    background: #24527b;
}

@media (min-width: 700px) {
    .welcome-sreen-container {
        height: 100vh;
        flex-direction: row;
    }
    .welcome-screen- {
        display: flex;
        width: 50%;
        height: 100%;
        background-color: var(--Shades-sea-salt, #FAFAFA);
        align-items: center;
        justify-content: center;
        padding: 32px;
    }
    .qe-btn-cont {
        position: absolute;
        width: 45%;
        bottom: 30%;
        left: 16px;
    }
}