.lds-ripple,
.lds-ripple div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100vh;
}

.lds-ripple div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 4px solid currentColor;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

.bd-what-new-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
}

.what-new-bg {
    display: flex;
    flex-direction: column;
    background-color: #F4F7F8;
    gap: 2px;
    width: 100%;
    height: 84% !important;
    margin-bottom: 50px;
}

.what-new-link {
    color: #009CF9;
}


/* For webkit browsers like Chrome, Safari */

.what-new-scroller {
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.what-new-scroller::-webkit-scrollbar {
    width: 0;
}

.what-new-scroller::-webkit-scrollbar-track {
    background: #ADADAD;
}

.what-new-scroller::-webkit-scrollbar-thumb {
    background: #24527B;
    border-radius: 10px;
}

.what-new-scroller::-webkit-scrollbar-thumb:hover {
    background: #009CF9;
}


/* Hide scrollbar for other browsers */

.what-new-scroller {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.what-new-scroller::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.what-new-dxtp-header {
    width: 100%;
    text-align: left;
    /* background-color: #009CF9; */
}

.what-new-container {
    padding: 0 16px;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}

@media screen and (min-width: 700px) {
    .what-new-bg {
        padding: 0!important;
        height: fit-content !important;
        margin-bottom: 0;
    }
    .what-new-article {
        /* background-color: #F6F7F8!important; */
    }
    .what-new-container {
        padding: 16px;
        height: 100% !important;
        margin-bottom: 0px;
    }
}