.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.512);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: 10px;
}

.modal-Content {
    background-color: white;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.modal-wrap {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    max-width: 550px;
    width: 90%;
}

.modalImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.modal-thumbnail {
    position: relative;
    border: 2px solid rgb(198, 195, 195);
    overflow: hidden;
    border-radius: 10px;
    height: 150px;
    width: 40%;
}

.modal-thumbnail-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal-thumbnail:hover .modal-thumbnail-overlay {
    opacity: 1;
}

.modal-thumbnail-overlay-btn-view {
    border: 2px solid white;
    border-radius: 25px;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
}

.checkbox-wrapper_ {
    position: absolute;
    top: 5px;
    right: 1.5em;
}

.checkbox-wrapper_ input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 20px;
    width: 20px;
    z-index: 10;
}

.checkbox-wrapper_ .custom-checkbox_ {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.checkbox-wrapper_ .custom-checkbox_:before {
    content: '';
    position: absolute;
    display: none;
}

.checkbox-wrapper_ input:checked+.custom-checkbox_:before {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #007bff;
    border-radius: 1px;
}

.btn-share {
    padding: 10px;
    background-color: #009CF9;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 5rem;
}

.btn-unshare {
    padding: 10px;
    background-color: #009CF9;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 5rem;
}

.btn-send {
    padding: 10px;
    background-color: #24527B;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 5rem;
}

.btn-doc-share-wrap {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    padding: 16px;
    gap: 10px;
    border-bottom: #ccc solid 1px;
    border-radius: 10px 10px 0px 0px;
}