.tab-bar {
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
    /* margin-bottom: 10px; */
    border: 1px solid #00000026;
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 6px;
}

.tab-pill {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 16px;
    cursor: pointer;
    border: 1px solid #C6CED6;
    border: none;
}

.tab-pill--active {
    background-color: #009CF9;
    color: white;
}